@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Playwrite+DE+Grund:wght@100..400&family=Rye&display=swap');
@import "tailwindcss";

@theme {
  --font-Rye: "Rye", serif;
  --font-PlayWrite: "Playwrite DE Grund", "cursive";
} 

@layer components {
.header{
  @apply min-w-full pl-2  pr-2 z-50 bg-[#FFFF] rounded shadow-[0px_8px_20px_-10px_rgba(0,_0,_0,_1)] items-center justify-between fixed top-0 left-0 flex  pb-2 pt-2 transition-transform duration-500 ease-in-out ;
}
 .container1{
  @apply max-w-fit grow  flex justify-center items-center gap-2 ;
  @apply  md:justify-start md:pl-9
 }
 .h1{
      @apply text-black text-[11px] md:text-[18px];
      font-family: var(--font-Rye);
  }
.container2{
 @apply max-w-fit flex grow  items-center ;
}

.container2ul{
 @apply   text-[11px]  flex items-center justify-around space-x-5 font-bold ;
           font-family: var(--font-PlayWrite);        
}
.container2ul2{
 @apply  md:flex md:grow md:text-[20px]  space-x-5 md:pl-[70px] md:pr-[70px]    
}
.loginbtn{
 @apply  bg-[#FFE797] cursor-pointer border rounded-xs font-bold pl-2.5 pr-2.5 text-black text-[14px] md:text-[16px]   
}

}
.line::after{
   transition: all 0.5s ease-in-out;
   background: #000; 
   width: 0;
   position: absolute;
   content: '';
   bottom: -5px;
   left: 0px;
}
.line:hover::after{
   width: 100%;
   height: 2px;
}
.f1{
  font-family: "Amarante", serif;
  font-weight: 600;
  font-style: bold;
}
.f4{
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}


.slider{
  animation-timing-function: ease-in-out;
  animation-name: slideranim;
  animation-duration: 0.3s;

}

@keyframes slideranim {
  from {transform: translateX(100%);}
  to {transform: translateX(0);}
  
}
